##global
#    log 127.0.0.1  local0
#    log 127.0.0.1  local1 notice
#    maxconn 4096
#    uid 99
#    gid 99
#    daemon
#    #debug
#    #quiet

#defaults
#    log   global
#    mode  http
#    option tcplog
#    option dontlognull
#    retries 3
#    maxconn 2000
#    contimeout   5000
#    clitimeout   50000
#    srvtimeout   50000

listen haproxy_web_80
    bind *:80
    mode http
    timeout connect 5s
    timeout check   5s
    timeout client  25s
    timeout server  25s
    stats enable
    stats uri /haproxy?stats
    balance roundrobin
    option httpclose
    option forwardfor
    server web1 web1:80 check
    server web2 web2:80 check backup